# --- ENVIRONNEMENT ---
.env

# --- NODE ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- SYSTEME / IDE ---
.DS_Store
.vscode/
.idea/

# --- BUILD / TEST ---
dist/
coverage/
tmp/
logs/
*.log